.Title{
    background-color: white;
    text-align: center;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 50%;
    margin-left: 25%;
}

.NonCulPntBtn{    
    background-color: white;
    text-align: center;    
    border-radius: 8px;
    width: 20%;
    margin-left: 70%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.NonCulPntBtn:hover {background-color: #f4511e}